body{
background-image: url("mu1.jpg") ;
 background-repeat:no-repeat ;
  background-size:cover;

  

background-attachment: fixed;
background-size: 100% 100%;


}
html {
  scroll-behavior: smooth;
}
.intro{
  

  border:2px solid white;
margin-top:7%;
margin-left:auto;
margin-right: auto;
flex-wrap: wrap;

width: max-content;
height:max-content;


width: 37%;
border: 2px solid cornsilk;
padding: 10px;



   
}
.rahul{
    height: 120px;
    width: 124px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
   
  }
  .mm{
    background-color:blueviolet;
    text-decoration: none; /* Black w/opacity/see-through */
   
    

   
  }
  hr.solid {
    border-top: 3px solid #bbb;
   
  }
  .center{
margin-left:17%;

  }
.resume{
  height: 48px;
  width: 140px;

  margin-left:34%;
  margin-right: auto;

  justify-content: center;
}


.fa{
    padding: 18px;
    font-size: 28px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 11px 7px;
    border-radius: 50%;
    justify-content: center;
    }
    
    .fa:hover {
    opacity: 0.7;
    }
    
    .fa-facebook {
    background: #3B5998;
    color: white;
    }
    .fa-google {
    background: #dd4b39;
    color: white;
    }
    .fa-twitter {
    background: #55ACEE;
    color: white;
    }
    
    .fa-linkedin {
    background: #007bb5;
    color: white;
    }
    .fa-instagram {
    background: #be2691;
    color: white;
    }
 
    .fa-medium{
    background: #0e0d0d;
    color: white;
    }
    .box{
       width: max-content;
       height:max-content;
      
      
      margin: auto;
      width: 50%;
      border: 2px solid cornsilk;
      padding: 10px;

    }
    .box1{
      width: max-content;
      height:max-content;
     
     
     margin: auto;
     width: 26%;
     border: 2px solid cornsilk;
     padding: 10px;

   }
    .img-fluid{

        height:34%;
        width:44%;

        display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:40px;
    }


    .fab {
        padding: 16px;
        font-size: large;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 8px;
    }

    .center{
        display: flex;
      
       justify-content: center;
        border-radius: 15px;
        text-align: center;
        padding: 8px;
        margin: 4px;
       
    }
    
    .center1{
      display: flex;
    flex-direction: row;
     justify-content: center;
      border-radius: 15px;
      text-align: center;
      padding: 16px;
      margin: 4px;
     
  }
    .logo{
      width:6%;
       height:auto;
       
       max-width:300px;
    }
 
    .card{
     color:white;
      background-color:rgb(221, 48, 48) !important;
    }
   



    .footer-copyright{
      background-color: rgb(66, 58, 68);
      height:55px;
      text-align: center;
      padding-top:15px;
      opacity: 0.8;
  
  }
  .footer-copyright a{
  
      color:white;
    
  }
  
    @media only screen and (max-width: 600px) {
      .intro{
        width:77%;
      }
      .logo{
        width:15%
      }
      .box{
        width:69%
      }
      .box1 {
      
        width: 60%;
       
    }
    .card{
      margin: 0 auto; /* Added */
      float: none; /* Added */
      margin-bottom: 10px; /* Added */

     }
 
      

    }
